#admin-profile
  form.admin-profile-form(name='profileForm',
      ng-controller='profileCtrl',
      ng-submit='saveChanges();',
      novalidate)
    .admin-profile-picture
      .container
        input#hideInputFile.hidden(type="file",
          accept="image/*",
          onchange="angular.element(this).scope().onPhotoChange(this);",
          value="")
        img(ng-show='userCopy.avatarUrl', ng-src='{{userCopy.avatarUrl}}')
        .no-avatar(ng-show='!userCopy.avatarUrl')
          | {{ userCopy.initials }}
        .edit-button(onclick='document.getElementById("hideInputFile").click();')
          .background
          .icon
            img(src='/images/icon-search.png')
    input.form-control(id='inputUsername'
        type='text',
        placeholder='Username',
        ng-model='userCopy.username',
        disabled)
    input.form-control(id='inputPassword'
        type='password',
        placeholder='New password',
        ng-model='userCopy.password',
        ng-show='editPassword')
    input.form-control(id='inputPasswordConfirm'
        type='password',
        placeholder='Confirm new password',
        ng-model='userCopy.passwordConfirm',
        ng-show='editPassword',
        ng-class='{"ng-invalid": confirmPasswordError}')
    input.form-control(id='inputEmail'
        type='email',
        placeholder='Email',
        ng-model='userCopy.email',
        ng-pattern='EMAIL_REGEXP')
    input.form-control(id='inputFirstName'
        type='text',
        placeholder='First name',
        ng-model='userCopy.firstName')
    input.form-control(id='inputLastName'
        type='text',
        placeholder='Last name',
        ng-model='userCopy.lastName')
    input.form-control(id='inputCountry'
        type='text',
        placeholder='Country',
        ng-model='userCopy.country')
    .admin-profile-btn-container
      button.btn.btn-lg.btn-primary(type='submit',
          ng-disabled="profileForm.$invalid || confirmPasswordError")
        | Save changes
      button.btn.btn-lg.btn-secondary(type='button', ng-click='editPassword = true;')
        | Change password
      button.btn.btn-lg.btn-danger(type='button', ng-click='cancelChanges();')
        | Cancel changes