#login
  form.login-form(ng-submit='login();', novalidate)
    h2.login-form-title Log In to Ruvacaba
    input.form-control(id='inputUsername'
        type='text',
        placeholder='Username',
        ng-model='username')
    input.form-control(id='inputPassword'
        type='password',
        placeholder='Password',
        ng-model='password')
    .checkbox
      label
        input(type='checkbox', ng-model='remember')
        | Remember me
    button.btn.btn-primary(type='submit')
      | Login